<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti delectus similique quae officiis quaerat, sint pariatur, consectetur nostrum aliquid dolor, unde reprehenderit autem. Eligendi beatae est, natus libero saepe quaerat aliquam iste explicabo ducimus molestiae facilis reprehenderit sit magni esse id, culpa autem nulla temporibus. Commodi illum numquam ipsa rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti delectus similique quae officiis quaerat, sint pariatur, consectetur nostrum aliquid dolor, unde reprehenderit autem. Eligendi beatae est, natus libero saepe quaerat aliquam iste explicabo ducimus molestiae facilis reprehenderit sit magni esse id, culpa autem nulla temporibus. Commodi illum numquam ipsa rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti delectus similique quae officiis quaerat, sint pariatur, consectetur nostrum aliquid dolor, unde reprehenderit autem. Eligendi beatae est, natus libero saepe quaerat aliquam iste explicabo ducimus molestiae facilis reprehenderit sit magni esse id, culpa autem nulla temporibus. Commodi illum numquam ipsa rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti delectus similique quae officiis quaerat, sint pariatur, consectetur nostrum aliquid dolor, unde reprehenderit autem. Eligendi beatae est, natus libero saepe quaerat aliquam iste explicabo ducimus molestiae facilis reprehenderit sit magni esse id, culpa autem nulla temporibus. Commodi illum numquam ipsa rerum.</p>
    </div>
</div>
