<div *ngIf="post$ |async as post; else loading">
    <div class="post">
        <div class="header">
            <h1>{{ post.title }}</h1>
    
            <button routerLink="/" class="btn btn-link">На главную</button>
        </div>
    
        <div class="info">
            <small>{{ post.date | date:'medium':null:'ru' }}</small>
        </div>
    
        <div>
            <p>{{ post.text }}</p>
        </div>
    </div>
</div>

<ng-template #loading>
    <p class="text-center">Загружаю цель...</p>
</ng-template>