<div *ngIf="posts.length; else loading" >
    <div class="form-control">
        <input type="text" placeholder="Найти цель..." [(ngModel)]="searchStr">
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
                <div class="thead">
                    <td class="thead__idx"># {{ idx + 1 }}</td>
                    <td class="thead__title">{{ post.title }}</td>
                </div>
                <td>{{ post.text }}</td>
                <div class="tfooter">
                    <td class="tfooter__date">{{ post.date | date:'medium' }}</td>
                    <td class="tfooter__actions">
                        <button 
                        class="btn btn-link open" 
                        [routerLink]="['/admin', 'post', post.id, 'edit']"
                        >
                            Открыть
                        </button>
                        <a (click)="remove(post.id)   ">Удалить</a>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">Идёт загрузка...</p>
</ng-template>